/* Nav Bar CSS */

$BCEred: rgb(220, 56, 33);

.navbar-brand img {
	height: 55px;
	/* put value of image height as your need */
	float: left;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

.navbar {
	height: 80px;
	background-color: $BCEred;
}

.navbar-text {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-right: 7px;
}

.navbar-default .navbar-text {

	color: white;

}
button.navbar-btn {
	margin-top:30px;
} 

.navbar-collapse {
	background-color: $BCEred;
}