@import "../public/shared/shared-rwd";
/* You can add global styles to this file, and also import other style files */
body{
	font-family: 'Didact Gothic', sans-serif;
}



.measurement {
    // 300px window width and less
    @include xxs {
      font-size: 0.6em;
    }

    // 368px window width and less
    @include xs {
    	font-size: 0.6em;
    }

    // 576px window width and more
    @include sm {
    	font-size: 0.6em;
    }

    // 768px window width and more
    @include md {
    	font-size: 0.7em;
    }

    // 992px window width and more
    @include lg {
    	font-size: 0.8em;
    }

    // 1200px window width and more
    @include xl {
    	font-size: 0.9em;
    }

    // 1500px window width and more
    @include xxl {
    	font-size: 1em;
    }

    // 1800px window width and more
    @include rwd(1800) {
    	font-size: 1em;
    }
}


@mixin note-text-small {
  min-width: 1em;
  text-align:left;
  font-size: 0.8em;
  //display: inline;
}
@mixin note-text-large {
  min-width: 13.625em;
  text-align:left;
  font-size: 1em;
  //display: block;
}

.notes-box {
    // 300px window width and less
    @include xxs {
      @include note-text-small;
    }

    // 368px window width and less
    @include xs {
      @include note-text-small;
    }

    // 576px window width and more
    @include sm {
      @include note-text-small;
    }

    // 768px window width and more
    @include md {
      @include note-text-large;
    }

    // 992px window width and more
    @include lg {
      @include note-text-large;
    }

    // 1200px window width and more
    @include xl {
      @include note-text-large;
    }

    // 1500px window width and more
    @include xxl {
      @include note-text-large;
    }

    // 1800px window width and more
    @include rwd(1800) {
      @include note-text-large;
    }
}